<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=1400">

		<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css">-->
		<link href="../../common/css/style.css" rel="stylesheet">
		<script src="../../common/js/plugins/jquery-1.11.3.min.js" type="text/javascript"></script>
		<script src="../../common/js/plugins/jquery-3.2.1.min.js" type="text/javascript"></script>
		<script src="../../common/js/plugins/jquery-ui.min.js" type="text/javascript"></script>
<!--		<link href="common/js/plugins/datepicker/datepicker.min.css" rel="stylesheet">
		<script src="common/js/plugins/datepicker/datepicker.min.js" type="text/javascript"></script>
		<script src="common/js/plugins/datepicker/datepicker.ko-KR.js" type="text/javascript"></script>
-->
		<script src="../../common/js/plugins/iscroll.js"></script><!-- lnb메뉴스크롤-->
		<script src="../../common/js/ui/global_script.js"></script><!-- lnb-->
		<script src="../../common/js/plugins/tree-menu.js" type="text/javascript"></script>
		<link href="../../common/css/tree-menu.css" rel="stylesheet">
		<script type="text/javascript">
		<!--
		var checkmenu = new CheckTree('checkmenu');
		$(document).ready(function(){
			$(".dropdown-notification").on("click", function(){
					$('.dropdown-no-content').toggle();
			});
		});
		//-->
		</script>
		<title>'bangpl'(방역관제 통합관리 서비스)</title>
	</head>
	<body class="sub">
		<div class="wrapper">
			<a href="#" class="skip-nav">본문 바로가기</a>
			<header class="header">
				<h1><a href="../../user/user/UserMgt.html" title="플랫품명">ban<em>gpl</em></a></h1>
				<ul class="top-nav">
					<li><span class="top-nav-bi top-nav-bilink"><a href="../../BIChat.html" title="BI분석플랫품">BI분석플랫품</a></span></li>
          <li class="dropdown-notification"><a href="#" title="알림" style="position:relative;"><img src="../../images/icon_bell.png" alt="알림"><span class="nav-mark">3</span></a>
						<div class="dropdown-no-content">
							<span class="arrow"></span>
							<div class="notification">
								<div class="dropdown">
									<div class="dropdown-body">
										<a href="#">
										 <p class="point">타이틀타이틀타이틀타이틀</p> 내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용
										</a>
									</div>
									<div class="meta">2h ago</div>
								</div>
								<div class="dropdown">
									<div class="dropdown-body">
										<a href="#">
										 <p class="point">타이틀타이틀타이틀타이틀</p> 내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용
										</a>
									</div>
									<div class="meta">2h ago</div>
								</div>
							</div>
							<div class="dropdown-footer">
							<a href="../../AlarmManage.html">전체 알림보기</a>
						</div>
						</div>
					</li>
					<li><a href="../../login/ChangePswdResetLogin.html" title="정보수정"><img src="../../images/icon_user.png" alt="정보수정"></a></li>
					<li><a href="../../login/Login.html" title="로그아웃"><img src="../../images/icon_off.png" alt="로그아웃"></a></li>
				</ul>
			</header>

			<div id="body">
				<!-- S_왼쪽메뉴-->
				<section id="lnb">
					<a href="#" class="menu" title="메뉴 열기/닫기"><img src="../../images/arr_menu_left.png" alt="메뉴 열기/닫기"/></a>
					<div class="lnb-logo">
						<div class="bangpl-logo"></div>
						<h2 class="branding">방역관제 통합관리 서비스</h2>
					</div>
					<nav style="touch-action: none;">
						<ul style="transform: translate(0px, 0px) translateZ(0px);">
							<li data-menu="UM"><a href="#" title="계정관리">계정관리<span class="sub"></span></a>
								<ul>
									<li data-menu="UserMgt"><a href="../../user/user/UserMgt.html" title="계정관리">계정관리</a></li>
								</ul>
							</li>
							<li data-menu="SM"><a href="#" title="시스템관리">시스템관리<span class="sub"></span></a>
								<ul>
									<li data-menu="GroupMgt"><a href="../../user/group/GroupMgt.html" title="그룹관리">그룹관리</a></li>
									<li data-menu="AuthMgt"><a href="../../auth/AuthMgt.html" title="권한관리">권한관리</a></li>
									<li data-menu="AuthByUserMgt"><a href="../../user/auth/AuthByUserMgt.html" title="사용자권한생성">사용자권한생성</a></li>
									<li data-menu="MenuByAuthCreate"><a href="../../menu/auth/MenuByAuthCreate.html" title="권한별메뉴생성">권한별메뉴생성</a></li>
								</ul>
							</li>
							<li data-menu="MM" class="open"><a href="#" title="메뉴관리">메뉴관리<span class="sub"></span></a>
								<ul style="height: 64px;">
									<li data-menu="MenuMgt" class="on"><a href="../../menu/menu/MenuMgt.html" title="메뉴관리">메뉴관리</a></li>
									<li data-menu="ReportMgt"><a href="../../report/ReportMgt.html" title="레포트관리">레포트관리</a></li>
								</ul>
							</li>
							<li data-menu="BM"><a href="#" title="게시판관리">게시판관리<span class="sub"></span></a>
								<ul>
									<li data-menu="BoardMenu"><a href="../../BoardMenu.html" title="게시판관리">게시판관리</a></li>
								</ul>
							</li>
							<li data-menu="BachM"><a href="#"  title="배치작업관리">배치작업관리<span class="sub"></span></a>
								<ul>
									<li data-menu="BachManage"><a href="../../BachManage.html" title="배치작업관리">배치작업관리</a></li>
								</ul>
							</li>
							<li data-menu="BachM"><a href="#" title="로그관리">로그관리<span class="sub"></span></a>
								<ul>
									<li data-menu="UserManageLogList"><a href="../../UserManageLogList.html" title="계정권한로고">계정권한로고</a></li>
									<li data-menu="GroupManageLogList"><a href="../../GroupManageLogList.html" title="그룹로그">그룹로그</a></li>
									<li data-menu="ReportManageLogList"><a href="../../ReportManageLogList.html" title="통계리포트로그">통계리포트로그</a></li>
								</ul>
							</li>
							<li data-menu="AM"><a href="#" title="알림기능">알림기능<span class="sub"></span></a>
								<ul>
									<li data-menu="AlarmManage"><a href="../../Notifiations.html" title="알림관리기능">알림관리기능</a></li>
								</ul>
							</li>
						</ul>

						<div class="iScrollVerticalScrollbar iScrollLoneScrollbar" style="position: absolute; z-index: 9999; width: 7px; bottom: 2px; top: 2px; right: 1px; overflow: hidden; transform: translateZ(0px); transition-duration: 0ms; opacity: 0;">
							<div class="iScrollIndicator" style="box-sizing: border-box; position: absolute; background: rgba(0, 0, 0, 0.5); border: 1px solid rgba(255, 255, 255, 0.9); border-radius: 3px; width: 100%; transition-duration: 0ms; display: none; height: 811px; transform: translate(0px, 0px) translateZ(0px);"></div>
						</div>
					</nav>
					<div class="user-info">
						<ul>
							<li>
								<a href="#" title="로그인연장"><span>로그인연장</span><br>
								<img src="../../images/icon_time.png" alt="알람시계"> 남은시간 [59분 20초]</a>
							</li>
						</ul>
					</div>
				</section>
				<!-- E_왼쪽메뉴-->

				<!-- S_본문-->
				<main class="container">
					<div class="location-wrap">
						<ul class="location">
							<li><a href="#">홈</a></li>
							<li><a href="#">메뉴관리</a></li>
							<li><em>메뉴관리</em></li>
						</ul>
					</div>
					<section>
						<form>
							<div class="page-content">
								<div class="page-content-header">
									<div>
										<span class="title-point">메뉴관리</span>
                    <!-- S_설명문구있을경우사용 -->
										<div class="title-mark dropdown-description">
											<div class="dropdown-de-content">
												<span class="arrow"></span>
												<div class="dropdown">
													<div class="dropdown-body">
														 <p class="point">타이틀타이틀타이틀타이틀</p> 내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용
													</div>
												</div>
											</div>
										</div>
										<!-- E_설명문구있을경우사용 -->
									</div>
								</div>

								<div class="sub-area view">
										<div class="wrap">
											<div class="view-area">
												<!-- s:left-area -->
												<div class="left-area">
													<div class="inner">
														<div class="title-box">
															<div class="but-group-center">
																<button type="button" class="but-round but-success" id="butEdit">저장</button>
																<button type="button" class="but-round but-warning" onclick=javascript:layerPopup(layerdelBoardPopup);>삭제</button>
																<button type="button" onclick="location.href='BoardMenu.html'" class="but-round but-cancel">취소</button>
															</div>
														</div>
														<div class="img-box">
															<div class="form-rows">
																<div class="form-row">
																	<dl class="form-dl">
																		<dt class="form-dt">메뉴 ID<em>*</em></dt>
																		<dd class="form-dd">
																			<div class="info-number100">
																			  <input type="text" class="form-input">
																			</div>
																		</dd>
																	</dl>
																</div>
																<div class="form-row">
																	<dl class="form-dl">
																	 <dt class="form-dt">메뉴순서<em>*</em></dt>
																			<dd class="form-dd">
																				<div class="info-number">
																					<input type="text" class="form-input">
																				</div>
																			</dd>
																	</dl>
																</div>
																<div class="form-row">
																	<dl class="form-dl">
																	 	<dt class="form-dt">메뉴 명<em>*</em></dt>
																		<dd class="form-dd">
																			<div class="info-text100">
																				<input type="text" class="form-input">
																		</dd>
																	</dl>
																</div>
																<div class="form-row">
																	<dl class="form-dl">
																	 <dt class="form-dt">상위 메뉴 No<em>*</em></dt>
																	 <dd class="form-dd">
																		 <div class="info-number">
																			 <input type="text" class="form-input">
																	 </dd>
																	</dl>
																</div>
																<div class="form-row">
																	<dl class="form-dl">
																		<dt class="form-dt">메뉴팝업유무<em>*</em></dt>
																		<dd class="form-dd">
																			<div>
																				<ul>
																					<li class="display-ib"><input name="menuPopupYn" type="radio" value="Y">사용</li>
																					<li class="display-ib"><input name="menuPopupYn" type="radio" value="N" checked="">미사용</li>
																				</ul>
																			</div>
																		</dd>
																	</dl>
																</div>
																<div class="form-row">
																	<dl class="form-dl">
																		<dt class="form-dt">IFRAME 사용여부<em>*</em></dt>
																		<dd class="form-dd">
																			<div>
																				<ul>
																					<li class="display-ib"><input name="menuPopupYn" type="radio" value="Y">사용</li>
																					<li class="display-ib"><input name="menuPopupYn" type="radio" value="N" checked="">미사용</li>
																				</ul>
																			</div>
																		</dd>
																	</dl>
																</div>
																<div class="form-row w100Percentage">
																	<dl class="form-dl">
																		<dt class="form-dt">메뉴링크<em>*</em></dt>
																		<dd class="form-dd">
																			  <input type="text" class="form-input" placeholder="http://">
																		</dd>
																	</dl>
																</div>
																<div class="form-row w100Percentage">
																	<dl class="form-dl">
																		<dt class="form-dt">레포트 선택<em>*</em></dt>
																		<dd class="form-dd">
																			  <input type="text" class="form-input" placeholder="">
																		</dd>
																	</dl>
																</div>
																<div class="form-row w100Percentage">
																	<dl class="form-dl">
																		<dt class="form-dt">Help 첨부파일<em>*</em></dt>
																		<dd class="form-dd pt-relative">
																			<input type="text" id="fileName" class="file-input-text" readonly="readonly">
																				<div class="file-input">
																					<input type="button" value="파일선택" class="file-input-button">
																					<input type="file" class="file-input-hidden" onchange="javascript:document.getElementById('fileName').value = this.value.split('\\')[this.value.split('\\').length-1]">
																				</div>
																		</dd>
																	</dl>
																</div>
																<div class="form-row">
																	<dl class="form-dl">
																		<dt class="form-dt">아이콘 클래스명<em>*</em></dt>
																		<dd class="form-dd">
																			<div class="input-box">
																				<input type="text" name="txt" value="">
																				<div class="search-btn"><a href="#"><img src="../../images/icon_search03.png" alt="찾기"></a></div>
																			</div>
																		</dd>
																	</dl>
																</div>
																<div class="form-row w100Percentage">
																	<dl class="form-dl">
																		<dt class="form-dt">메뉴설명<em>*</em></dt>
																		<dd class="form-dd">
																			<div class="form-info-input-col">
																				<textarea class="form-textarea"></textarea>
																			</div>
																		</dd>
																	</dl>
																</div>
															</div>
														</div>
													</div>
												</div>
												<!-- e:left-area -->

												<!-- s:right-area -->
												<div class="right-area">
													<div class="inner">
													<!--	<div class="commapy-box">메뉴목록</div>-->
														<section>
														<!--<header>
															<div class="menu-box">
																<div class="search-inner"><span>권한코드 : </span>
																	<div class="select-box">
																		<select name="itm">
																			<option value="0">IS_AUTHENTICATED_ANONYMOUSLY</option>
																			<option value="1">IS_AUTHENTICATED_FULLY</option>
																		</select>
																	</div>
																</div>
															</div>
															<div class="but-group-center">
																<button type="button" class="but-round but-success" id="but-edit">초기화</button>
																<button type="button" class="but-round but-warning" onclick=javascript:layerPopup(layerDeletePopup);>적용</button>
																<button type="button" class="but-round but-cancel char-colse">취소</button>
															</div>
														</header>-->
														<div class="menu-inner">
															<form action="javascript:void(0)">
															<ul id="tree-checkmenu" class="checktree">
															 <li id="show-explorer">
																<input id="check-explorer" type="checkbox" />
																Administrator
																<span id="count-explorer" class="count"></span>
																	<ul id="tree-explorer">
																		<li id="show-iewin">
																			<input id="check-iewin" type="checkbox" />프로젝트관리
																			<span id="count-iewin" class="count"></span>
																				<ul id="tree-iewin">
																					<li><input type="checkbox" />프로젝트관리</li>
																					<li><input type="checkbox" />그룹등록</li>
																					<li><input type="checkbox" />사용자등록</li>
																				</ul>
																		 </li>
																		 <li id="show-iemac">
																			<input id="check-iemac" type="checkbox" />시스템관리
																			<span id="count-iemac" class="count"></span>
																				<ul id="tree-iemac">
																					 <li><input type="checkbox" />권한목록등록</li>
																					 <li><input type="checkbox" />계정권한부여</li>
																					 <li class="last"><input type="checkbox" />권한별메뉴적용</li>
																				</ul>
																		 </li>
																		 <li id="show-iemac2">
																			<input id="check-iemac2" type="checkbox" />메뉴관리
																			<span id="count-iemac2" class="count"></span>
																				<ul id="tree-iemac2">
																					<li><input type="checkbox" />관리자메뉴관리</li>
																				</ul>
																		 </li>
																		 <li id="show-iemac3">
																			<input id="check-iemac3" type="checkbox" />로그관리
																			<span id="count-iemac3" class="count"></span>
																			<ul id="tree-iemac3">
																				<li><input type="checkbox" />계정권한정보</li>
																			 <li><input type="checkbox" />레포트</li>
																			</ul>
																		 </li>
																	</ul>
															 </li>
															 <li id="show-netscape">
																<input id="check-netscape" type="checkbox" />Data Visualization
																<span id="count-netscape" class="count"></span>
																<ul id="tree-netscape">
																	<li id="show-iemac4">
																	<input id="check-iemac4" type="checkbox" />데이터분석
																	<span id="count-iemac4" class="count"></span>
																	<ul id="tree-iemac4">
																		<li><input type="checkbox" />대여소 현황</li>
																		<li><input type="checkbox" />이용현황 분석</li>
																		<li><input type="checkbox" />회원 분석</li>
																		<li><input type="checkbox" />수요예측 모델 분석</li>
																	</ul>
																 </li>
																</ul>
															 </li>
															 <li class="last"><input type="checkbox" />기타</li>
															</ul>
															</form>
														</div>
														</section>

													</div>
												</div>
												<!-- e:right-area -->
											</div>
										</div>
									</div>
							</div>
						</form>
					</section>
				</main>
			<!-- E_본문-->
			</div>
		</div>
		<!-- 레이어 팝업 - delete -->
		<div id="layerDeletePopup" class="layer-popup">
			<div class="layer-contentbox" style="width:400px">
				<section class="layer-content">
				<div class="layer-header">
					<div class="layer-title">
						 <a href="javascript:layerPopupClose(layerDeletePopup);"><img src="../images/icon_arrow.png"></a>
						 <div class="vertical-bar"></div>
						 <div>권한 ID 삭제</div>
					</div>
				</div>
				<div class="form-rows">
					<div class="form-row w100Percentage">
						<dl class="form-dl">
							<dt class="form-dt">CNCT_TEST</dt>
							<dd class="form-dd tr">
							<button type="button" class="but-delete but-warning"><img src="../images/icon_delete.png" title="삭제"></button>
							</dd>
						</dl>
					</div>
				</div>
				<div class="but-group-center">
					<button type="button" class="but but-round but-cancel">취소</button>
				</div>
				</section>
			</div>
		</div>
	</body>
</html>
