<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=1400">

		<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css">-->
		<link href="../../common/css/style.css" rel="stylesheet">
		<script src="../../common/js/plugins/jquery-1.11.3.min.js" type="text/javascript"></script>
		<script src="../../common/js/plugins/jquery-3.2.1.min.js" type="text/javascript"></script>
		<script src="../../common/js/plugins/jquery-ui.min.js" type="text/javascript"></script>
<!--		<link href="common/js/plugins/datepicker/datepicker.min.css" rel="stylesheet">
		<script src="common/js/plugins/datepicker/datepicker.min.js" type="text/javascript"></script>
		<script src="common/js/plugins/datepicker/datepicker.ko-KR.js" type="text/javascript"></script>
-->
		<script src="../../common/js/plugins/iscroll.js"></script><!-- lnb메뉴스크롤-->
		<script src="../../common/js/ui/global_script.js"></script><!-- lnb-->
		<script src="../../common/js/plugins/tree-menu.js" type="text/javascript"></script>
		<link href="../../common/css/tree-menu.css" rel="stylesheet">
		<script type="text/javascript">
		var checkmenu = new CheckTree('checkmenu');
			$(document).ready(function(){
				var MePopup = false;
				$("#char-open,.char-colse").click(function(){
					//console.log("표시 : " + ($(".menu-chat") != null));
					if($(".menu-chat") != null){
					//console.log("11");
						$("#MenuPopup").show(function(){
							if(MePopup) {
								$("#MenuPopup").hide(function(){
								    $("#menu-viewport").removeClass("big-menu-open");
								});
								MePopup = false;
							}else {
							    //console.log("표시 : " + ($(".menu-chat") != null)+"22");
								MePopup = true;
							}
						});
						 //console.log("표시 : " + ($(".menu-chat") != null)+"33");
						$("#menu-viewport").addClass("big-menu-open");
				   }else{
					   $("#MenuPopup").hide();
					   $("#menu-viewport").removeClass("big-menu-open");
					}
				});
				$(".dropdown-notification").on("click", function(){
						$('.dropdown-no-content').toggle();
				});
		});
		</script>
		<title>'bangpl'(방역관제 통합관리 서비스)</title>
	</head>
	<body class="sub">
		<div class="wrapper">
			<a href="#" class="skip-nav">본문 바로가기</a>
			<header class="header">
				<h1><a href="../../user/user/UserMgt.html" title="플랫품명">ban<em>gpl</em></a></h1>
				<ul class="top-nav">
					<li><span class="top-nav-bi top-nav-bilink"><a href="../../BIChat.html" title="BI분석플랫품">BI분석플랫품</a></span></li>
					<li class="dropdown-notification"><a href="#" title="알림" style="position:relative;"><img src="../../images/icon_bell.png" alt="알림"><span class="nav-mark">3</span></a>
						<div class="dropdown-no-content">
							<span class="arrow"></span>
							<div class="notification">
								<div class="dropdown">
									<div class="dropdown-body">
										<a href="#">
										 <p class="point">타이틀타이틀타이틀타이틀</p> 내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용
										</a>
									</div>
									<div class="meta">2h ago</div>
								</div>
								<div class="dropdown">
									<div class="dropdown-body">
										<a href="#">
										 <p class="point">타이틀타이틀타이틀타이틀</p> 내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용
										</a>
									</div>
									<div class="meta">2h ago</div>
								</div>
							</div>
							<div class="dropdown-footer">
							<a href="../../AlarmManage.html">전체 알림보기</a>
						</div>
						</div>
					</li>
					<li><a href="../../login/ChangePswdResetLogin.html" title="정보수정"><img src="../../images/icon_user.png" alt="정보수정"></a></li>
					<li><a href="../../login/Login.html" title="로그아웃"><img src="../../images/icon_off.png" alt="로그아웃"></a></li>
				</ul>
			</header>

			<div id="body">
				<!-- S_왼쪽메뉴-->
				<section id="lnb">
					<a href="#" class="menu" title="메뉴 열기/닫기"><img src="../../images/arr_menu_left.png" alt="메뉴 열기/닫기"/></a>
					<div class="lnb-logo">
						<div class="bangpl-logo"></div>
						<h2 class="branding">방역관제 통합관리 서비스</h2>
					</div>
					<nav style="touch-action: none;">
						<ul style="transform: translate(0px, 0px) translateZ(0px);">
							<li data-menu="UM"><a href="#" title="계정관리">계정관리<span class="sub"></span></a>
								<ul>
									<li data-menu="UserMgt"><a href="../../user/user/UserMgt.html" title="계정관리">계정관리</a></li>
								</ul>
							</li>
							<li data-menu="SM" class="open"><a href="#" title="시스템관리">시스템관리<span class="sub"></span></a>
								<ul style="height: 128px;">
									<li data-menu="GroupMgt"><a href="../../user/group/GroupMgt.html" title="그룹관리">그룹관리</a></li>
									<li data-menu="AuthMgt"><a href="../../auth/AuthMgt.html" title="권한관리">권한관리</a></li>
									<li data-menu="AuthByUserMgt"><a href="../../user/auth/AuthByUserMgt.html" title="사용자권한생성">사용자권한생성</a></li>
									<li data-menu="MenuByAuthCreate" class="on"><a href="../../menu/auth/MenuByAuthCreate.html" title="권한별메뉴생성">권한별메뉴생성</a></li>
								</ul>
							</li>
							<li data-menu="MM"><a href="#" title="메뉴관리">메뉴관리<span class="sub"></span></a>
								<ul>
									<li data-menu="MenuMgt"><a href="../../menu/menu/MenuMgt.html" title="메뉴관리">메뉴관리</a></li>
									<li data-menu="ReportMgt"><a href="../../report/ReportMgt.html" title="레포트관리">레포트관리</a></li>
								</ul>
							</li>
							<li data-menu="BM"><a href="#" title="게시판관리">게시판관리<span class="sub"></span></a>
								<ul>
									<li data-menu="BoardMenu"><a href="../../BoardMenu.html" title="게시판관리">게시판관리</a></li>
								</ul>
							</li>
							<li data-menu="BachM"><a href="#"  title="배치작업관리">배치작업관리<span class="sub"></span></a>
								<ul>
									<li data-menu="BachManage"><a href="../../BachManage.html" title="배치작업관리">배치작업관리</a></li>
								</ul>
							</li>
							<li data-menu="BachM"><a href="#" title="로그관리">로그관리<span class="sub"></span></a>
								<ul>
									<li data-menu="UserManageLogList"><a href="../../UserManageLogList.html" title="계정권한로고">계정권한로고</a></li>
									<li data-menu="GroupManageLogList"><a href="../../GroupManageLogList.html" title="그룹로그">그룹로그</a></li>
									<li data-menu="ReportManageLogList"><a href="../../ReportManageLogList.html" title="통계리포트로그">통계리포트로그</a></li>
								</ul>
							</li>
							<li data-menu="AM"><a href="#" title="알림기능">알림기능<span class="sub"></span></a>
								<ul>
									<li data-menu="AlarmManage"><a href="../../Notifiations.html" title="알림관리기능">알림관리기능</a></li>
								</ul>
							</li>
						</ul>

						<div class="iScrollVerticalScrollbar iScrollLoneScrollbar" style="position: absolute; z-index: 9999; width: 7px; bottom: 2px; top: 2px; right: 1px; overflow: hidden; transform: translateZ(0px); transition-duration: 0ms; opacity: 0;">
							<div class="iScrollIndicator" style="box-sizing: border-box; position: absolute; background: rgba(0, 0, 0, 0.5); border: 1px solid rgba(255, 255, 255, 0.9); border-radius: 3px; width: 100%; transition-duration: 0ms; display: none; height: 811px; transform: translate(0px, 0px) translateZ(0px);"></div>
						</div>
					</nav>
					<div class="user-info">
						<ul>
							<li>
								<a href="#" title="로그인연장"><span>로그인연장</span><br>
								<img src="../../images/icon_time.png" alt="알람시계"> 남은시간 [59분 20초]</a>
							</li>
						</ul>
					</div>
				</section>
				<!-- E_왼쪽메뉴-->

				<!-- S_본문-->
				<main class="container">
					<div class="location-wrap">
						<ul class="location">
							<li><a href="#">홈</a></li>
							<li><a href="#">시스템관리</a></li>
							<li><em>권한별메뉴생성</em></li>
						</ul>
					</div>
				<!-- S_content-->
					<section class="viewport" id="menu-viewport">
						<form>
							<div class="page-content">
								<div class="page-content-header">
									<div>
										<span class="title-point">권한별 메뉴생성</span>
                    <!-- S_설명문구있을경우사용 -->
										<div class="title-mark dropdown-description">
											<div class="dropdown-de-content">
												<span class="arrow"></span>
												<div class="dropdown">
													<div class="dropdown-body">
														 <p class="point">타이틀타이틀타이틀타이틀</p> 내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용
													</div>
												</div>
											</div>
										</div>
										<!-- E_설명문구있을경우사용 -->
									</div>
								</div>
								<!-- S_그리드시작-->
								<div class="table-content">
									<div class="search-box">
										<div class="search-inner">
											<div class="select-box">
												<select>
													<option value="0">그룹ID</option>
													<option value="1">그룹명</option>
												</select>
											</div>
											<div class="input-box">
												<input type="text" name="txt" value="" placeholder="검색어를 입력하세요">
												<div class="search-btn"><a href="#"><img src="../../images/icon_search03.png" alt="찾기"></a></div>
											</div>
										</div>
									</div>
									<div class="action-buttons" style="display:none">
											<div>
												<button type="button" class="popup-allbtn delete" onclick=javascript:layerPopup(layerAllDeletePopup);>
													전체삭제<img src="../../images/icon_delete.png" class="pl10" title="전체삭제">
												</button>
												<button type="button" class="cancel">
													삭제취소<img src=../../images/icon_cancel.png class="pl10" title="삭제취소">
												</button>
											</div>
											<div>
												<span class="action-text">14 items selected</span>
											</div>
									</div>
									<table class="table-nofixed table-actions">
										<colgroup>
											<col style="width: 4%;">
											<col style="width: 5%;">
											<col style="width: 14%;">
											<col style="width: 20%;">
											<col style="width: auto;">
											<col style="width: 10%;">
											<col style="width: 7%;">
										</colgroup>
										<thead>
											<tr class="table-th-bg">
												<th><input type="checkbox" name="all" id="checkAll"></th>
												<th scope="col">번호</th>
												<th scope="col">권한 ID</th>
												<th scope="col">권한 명</th>
												<th scope="col">권한 설명</th>
												<th scope="col">메뉴생성여부</th>
												<th scope="col">메뉴생성</th>
											</tr>
										</thead>

										<tbody>
											<tr class="tbl-list">
												<th><input type="checkbox" name="chk"></th>
                        <td scope="row">1</td>
												<td class="tl">ROLE_SITE_ADMIN</td>
												<td>SITE별 관리자</td>
												<td>SITE별 관리자</td>
												<td>
													<button type="button" class="yes">Yes</button>
												</td>
												<td>
													<div class="btn-group">
														<button type="button" class="popup-active char-open" id="char-open">
						                  <img src="../../images/icon_genemenu.png" title="메뉴생성">
						                </button>
						              </div>
												</td>
											</tr>

											<tr class="tbl-list">
												<th><input type="checkbox" name="chk"></th>
                        <td scope="row">2</td>
												<td class="tl">ROLE_SYSOP</td>
												<td>보조 관리자</td>
												<td>보조 관리자</td>
												<td>
													<button type="button" class="yes">Yes</button>
												</td>
												<td>
													<div class="btn-group">
														<button type="button" class="popup-active">
						                  <img src="../../images/icon_genemenu.png" title="메뉴생성">
						                </button>
						              </div>
												</td>
											</tr>
											<tr class="tbl-list">
												<th><input type="checkbox" name="chk"></th>
                        <td scope="row">3</td>
												<td class="tl">ROLE_TEST</td>
												<td>ROLE_TEST</td>
												<td>테스트 권한</td>
												<td>
													<button type="button" class="yes">Yes</button>
												</td>
												<td>
													<div class="btn-group">
														<button type="button" class="popup-active">
						                  <img src="../../images/icon_genemenu.png" title="메뉴생성">
						                </button>
						              </div>
												</td>
											</tr>
										</tbody>
									</table>
							  </div>
								<!-- E_그리드시작-->
                <!-- S_페이징-->
								<div class="board-paging">
									<ul>
										<li class="on"><a href="#">1</a></li>
										<li><a href="#">2</a></li>
										<li><a href="#">3</a></li>
										<li><a href="#">4</a></li>
										<li><a href="#">5</a></li>
										<li><a href="#">6</a></li>
										<li><a href="#">7</a></li>
										<li><a href="#">8</a></li>
										<li><a href="#">9</a></li>
										<li><a href="#">10</a></li>
										<li><a href="#">...20</a></li>
										<li><a href="#" class="last">▶</a></li>
									</ul>
								</div>
								<!-- E_페이징-->
							</div>
						</form>
					</section>
				</main>
			<!-- E_본문-->
			</div>
		</div>
		<!-- S_메뉴(오른쪽) -->
		<section class="menu-chat big-menu-open" id="MenuPopup">
		<header>
			<div class="menu-box">
				<div class="search-inner w100Percentage">
					<span>권한 ID</span>
					<div class="select-box">
						<select>
							<option value="0">IS_AUTHENTICATED_ANONYMOUSLY</option>
							<option value="1">IS_AUTHENTICATED_FULLY</option>
						</select>
					</div>
				</div>
			</div>
			<!-- 버튼 -->
			<div class="but-group-center">
				<button type="button" class="but-round but-success" id="butEdit">초기화</button>
				<button type="button" class="but-round but-warning" onclick=javascript:layerPopup(layerDeletePopup);>적용</button>
				<button type="button" class="but-round but-cancel char-colse">취소</button>
			</div>
		</header>
		<div class="menu-inner">
			<form action="javascript:void(0)">
			<ul id="tree-checkmenu" class="checktree">
			 <li id="show-explorer">
				<input id="check-explorer" type="checkbox" />
				Administrator
				<span id="count-explorer" class="count"></span>
					<ul id="tree-explorer">
						<li id="show-iewin">
							<input id="check-iewin" type="checkbox" />프로젝트관리
							<span id="count-iewin" class="count"></span>
								<ul id="tree-iewin">
									<li><input type="checkbox" />프로젝트관리</li>
									<li><input type="checkbox" />그룹등록</li>
									<li><input type="checkbox" />사용자등록</li>
								</ul>
						 </li>
						 <li id="show-iemac">
							<input id="check-iemac" type="checkbox" />시스템관리
							<span id="count-iemac" class="count"></span>
								<ul id="tree-iemac">
									 <li><input type="checkbox" />권한목록등록</li>
									 <li><input type="checkbox" />계정권한부여</li>
									 <li class="last"><input type="checkbox" />권한별메뉴적용</li>
								</ul>
						 </li>
						 <li id="show-iemac2">
							<input id="check-iemac2" type="checkbox" />메뉴관리
							<span id="count-iemac2" class="count"></span>
								<ul id="tree-iemac2">
									<li><input type="checkbox" />관리자메뉴관리</li>
								</ul>
						 </li>
						 <li id="show-iemac3">
							<input id="check-iemac3" type="checkbox" />로그관리
							<span id="count-iemac3" class="count"></span>
							<ul id="tree-iemac3">
								<li><input type="checkbox" />계정권한정보</li>
							 <li><input type="checkbox" />레포트</li>
							</ul>
						 </li>
					</ul>
			 </li>
			 <li id="show-netscape">
				<input id="check-netscape" type="checkbox" />Data Visualization
				<span id="count-netscape" class="count"></span>
				<ul id="tree-netscape">
					<li id="show-iemac4">
					<input id="check-iemac4" type="checkbox" />데이터분석
					<span id="count-iemac4" class="count"></span>
					<ul id="tree-iemac4">
						<li><input type="checkbox" />대여소 현황</li>
						<li><input type="checkbox" />이용현황 분석</li>
						<li><input type="checkbox" />회원 분석</li>
						<li><input type="checkbox" />수요예측 모델 분석</li>
					</ul>
				 </li>
				</ul>
			 </li>
			 <li class="last"><input type="checkbox" />기타</li>
			</ul>
			</form>
		</div>
		</section>
	</body>
</html>
