<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.portal.adm.supplier.mapper.SupplierMapper">

	<sql id="searchSupplier">
		<if test="searchKey != '' and searchKey == 'ALL' and searchValue != ''">
			and ((upper(SUPPLIER_CODE) like concat('%',upper(#{searchValue}),'%')) OR (upper(SUPPLIER_NM) like concat('%',upper(#{searchValue}),'%')))
		</if>
		<if test="searchKey != '' and searchKey == 'supplierCode' and searchValue != ''">
			and (upper(SUPPLIER_CODE) like concat('%',upper(#{searchValue}),'%'))
		</if>
		<if test="searchKey != '' and searchKey == 'supplierNm' and searchValue != ''">
			and (upper(SUPPLIER_NM) like concat('%',upper(#{searchValue}),'%'))
		</if>
	</sql>
	
	<sql id="paging">
		limit #{offSet}, #{pageSize}
	</sql>

    <!-- 확인 2022-07-08 -->
	<select id="selectSupplierList" resultType="com.portal.adm.supplier.model.SupplierModel" parameterType="com.portal.adm.supplier.model.SupplierModel">
		SELECT
			ROW_NUMBER() OVER (ORDER BY UPPER(MODI_DT) ASC) AS ROWNUM
			, SUPPLIER_ID
			, COMPANY_CODE
			, SUPPLIER_CODE
			, SUPPLIER_NO
			, SUPPLIER_NM
			, SUPPLIER_DSC
			, ADDRESS
			, TELEPHONE_NO
			, REPRESENTATIVE_NM
			, MANAGEMENT_ID
			, USE_YN
			, RGST_ID
			, RGST_DT
			, MODI_ID
			, MODI_DT
		FROM T_SUPPLIER
		WHERE 1 = 1
		AND USE_YN = 'Y' 
		<if test="authId != 'au2000001'">
			AND COMPANY_CODE = #{companyCode}
		</if>
		<include refid="searchSupplier"></include>
		ORDER BY ROWNUM ASC
		<include refid="paging"></include>
	</select>
	
	<select id="selectSupplierListCount" resultType="int">
		SELECT
			count(1)
		FROM T_SUPPLIER
		WHERE 1 = 1
		AND USE_YN = 'Y'
		<if test="authId != 'au2000001'">
			<if test="companyCode != null and companyCode != ''">
				AND COMPANY_CODE = #{companyCode}
			</if>
		</if>
		<include refid="searchSupplier"></include>
	</select>
	
	<insert id="insert" parameterType="com.portal.adm.supplier.model.SupplierModel">
		INSERT INTO T_SUPPLIER (
			SUPPLIER_ID
			, COMPANY_CODE
			, SUPPLIER_CODE
			, SUPPLIER_NO
			, SUPPLIER_NM
			, SUPPLIER_DSC
			, ADDRESS
			, TELEPHONE_NO
			, REPRESENTATIVE_NM
			, MANAGEMENT_ID
			, USE_YN
			, RGST_ID
			, RGST_DT
			, MODI_ID
			, MODI_DT
		) VALUES (
			#{supplierId}
			, #{companyCode}
			, #{supplierCode}
			, #{supplierNo}
			, #{supplierNm}
			, #{supplierDsc}
			, #{address}
			, #{telephoneNo}
			, #{representativeNm}
			, #{managementId}
			, #{useYn}
			, #{rgstId}
			, NOW()
			, #{modiId}
			, NOW()
		)
	</insert>
	
	<update id="update" parameterType="com.portal.adm.supplier.model.SupplierModel">
		UPDATE T_SUPPLIER SET
			SUPPLIER_CODE = #{supplierCode}
			, SUPPLIER_NO = #{supplierNo}
			, SUPPLIER_NM = #{supplierNm}
			, SUPPLIER_DSC = #{supplierDsc}
			, ADDRESS = #{address}
			, TELEPHONE_NO = #{telephoneNo}
			, REPRESENTATIVE_NM = #{representativeNm}
			, MANAGEMENT_ID = #{managementId}
			, USE_YN = #{useYn}
			, MODI_ID = #{modiId}
			, MODI_DT = NOW()
		WHERE
			SUPPLIER_ID = #{supplierId} AND COMPANY_CODE = #{companyCode}
	</update>
	
	<select id="select" resultType="com.portal.adm.supplier.model.SupplierModel" parameterType="string">
		SELECT
			SUPPLIER_ID
			, COMPANY_CODE
			, SUPPLIER_CODE
			, SUPPLIER_NO
			, SUPPLIER_NM
			, SUPPLIER_DSC
			, ADDRESS
			, TELEPHONE_NO
			, REPRESENTATIVE_NM
			, MANAGEMENT_ID
			, USE_YN
			, RGST_ID
			, RGST_DT
			, MODI_ID
			, MODI_DT
		FROM
			T_SUPPLIER
		WHERE
			SUPPLIER_ID = #{supplierId}
	</select>
	
	<update id="delete" parameterType="com.portal.adm.supplier.model.SupplierModel">
		UPDATE T_SUPPLIER SET
			USE_YN = 'N',
			MODI_ID = #{modiId},
			MODI_DT = NOW()
		WHERE
			SUPPLIER_ID = #{supplierId}
	</update>
	
	<update id="deleteManager" parameterType="com.portal.adm.supplier.model.SupplierModel">
		UPDATE T_SUPPLIER_MANAGER SET
			USE_YN = 'N',
			MODI_ID = #{modiId},
			MODI_DT = NOW()
		WHERE
			MANAGER_ID = #{managerId}
	</update>
	
	<select id="selectSupplierMngRepper" parameterType="com.portal.adm.supplier.model.SupplierModel" resultType="com.portal.adm.supplier.model.SupplierModel">
		SELECT
			MANAGER_ID,
			SUPPLIER_CODE,
			MANAGER_NM,
			MANAGER_PHONE,
			MANAGER_MAIL,
			MANAGER_DEPT,
			MANAGER_PSTN,
			MANAGER_REPRESENT,
			USE_YN,
			RGST_ID,
			RGST_DT,
			MODI_ID,
			MODI_DT
		FROM
			T_SUPPLIER_MANAGER
		WHERE
			USE_YN = 'Y' AND SUPPLIER_CODE = #{supplierCode}
		ORDER BY MANAGER_REPRESENT DESC, RGST_DT DESC
		LIMIT 1
	</select>
	
	<select id="selectSupplierManager" parameterType="string" resultType="com.portal.adm.supplier.model.SupplierModel">
		SELECT
			MANAGER_ID,
			SUPPLIER_CODE,
			MANAGER_NM,
			MANAGER_PHONE,
			MANAGER_MAIL,
			MANAGER_DEPT,
			MANAGER_PSTN,
			MANAGER_REPRESENT,
			USE_YN,
			RGST_ID,
			RGST_DT,
			MODI_ID,
			MODI_DT
		FROM
			T_SUPPLIER_MANAGER
		WHERE
			USE_YN = 'Y' AND MANAGER_ID = #{managerId}
	</select>
	
	<select id="selectSupplierManagerSearch" parameterType="com.portal.adm.supplier.model.SupplierModel" resultType="com.portal.adm.supplier.model.SupplierModel">
		SELECT
			MANAGER_ID,
			SUPPLIER_CODE,
			MANAGER_NM,
			MANAGER_PHONE,
			MANAGER_MAIL,
			MANAGER_DEPT,
			MANAGER_PSTN,
			MANAGER_REPRESENT,
			USE_YN,
			RGST_ID,
			RGST_DT,
			MODI_ID,
			MODI_DT
		FROM
			T_SUPPLIER_MANAGER
		WHERE
			MANAGER_NM = #{managerNm} AND MANAGER_MAIL = #{managerMail} AND SUPPLIER_CODE = #{supplierCode}
	</select>
	
	<select id="selectSupplierManagers" parameterType="string" resultType="com.portal.adm.supplier.model.SupplierModel">
		SELECT
			MANAGER_ID,
			SUPPLIER_CODE,
			MANAGER_NM,
			MANAGER_PHONE,
			MANAGER_MAIL,
			MANAGER_DEPT,
			MANAGER_PSTN,
			MANAGER_REPRESENT,
			USE_YN,
			RGST_ID,
			RGST_DT,
			MODI_ID,
			MODI_DT
		FROM
			T_SUPPLIER_MANAGER
		WHERE
			USE_YN = 'Y' AND SUPPLIER_CODE = #{supplierCode}
	</select>
	
	<insert id="insertManager" parameterType="com.portal.adm.supplier.model.SupplierModel">
		INSERT INTO T_SUPPLIER_MANAGER (
			MANAGER_ID
			, SUPPLIER_CODE
			, MANAGER_NM
			, MANAGER_PHONE
			, MANAGER_MAIL
			, MANAGER_DEPT
			, MANAGER_PSTN
			, MANAGER_REPRESENT
			, USE_YN
			, RGST_ID
			, RGST_DT
			, MODI_ID
			, MODI_DT
		) VALUES (
			#{managerId}
			, #{supplierCode}
			, #{managerNm}
			, #{managerPhone}
			, #{managerMail}
			, #{managerDept}
			, #{managerPstn}
			, #{managerRepresent}
			, #{useYn}
			, #{rgstId}
			, NOW()
			, #{modiId}
			, NOW()
		)
	</insert>
	
	<update id="updateManager" parameterType="com.portal.adm.supplier.model.SupplierModel">
		UPDATE T_SUPPLIER_MANAGER SET
			SUPPLIER_CODE = #{supplierCode}
			, MANAGER_NM = #{managerNm}
			, MANAGER_PHONE = #{managerPhone}
			, MANAGER_MAIL = #{managerMail}
			, MANAGER_DEPT = #{managerDept}
			, MANAGER_PSTN = #{managerPstn}
			, MANAGER_REPRESENT = #{managerRepresent}
			, USE_YN = #{useYn}
			, MODI_ID = #{modiId}
			, MODI_DT = NOW()
		WHERE
			MANAGER_ID = #{managerId}
	</update>
	
	<update id="updateManagementId" parameterType="com.portal.adm.supplier.model.SupplierModel">
		UPDATE T_SUPPLIER SET
			MANAGEMENT_ID = #{managementId}
			, MODI_ID = #{modiId}
			, MODI_DT = NOW()
		WHERE
			SUPPLIER_CODE = #{supplierCode}
	</update>
	
	<select id="selectUserNmList" parameterType="com.portal.adm.member.model.MemberModel" resultType="com.portal.adm.member.model.MemberModel">
		select
			u.user_id,
			u.user_nm,
			u.pstn_code,
			u.email,
			u.phone,
			p.pstn_nm,
			u.dept_code,
			d.dept_nm,
			u.company_code,
			c.company_nm,
			u.adof_dept_code,
			ad.dept_nm as adof_dept_nm,
			tga.auth_id,
			COALESCE(tga.use_yn,'N') as auth_use_yn,
			tga.auth_nm,
			u.use_yn,
			u.last_log_dt,
			case
			when coalesce(to_days(last_log_dt), to_days(now())) + (SELECT CODE_NM FROM T_CODE WHERE GROUP_ID = 'ACCOUNT_LOCK_PD' AND CODE_ID = 'LOCK_PD') <![CDATA[<]]> to_days(now()) then 'Y'
			else 'N' end as lock_yn,
			u.start_dt,
			u.end_dt,
			'N' as expired_yn,
			u.rgst_id,
			u.rgst_dt,
			u.modi_id,
			u.modi_dt,
			u.file_url,
			u.dt_limit_yn,
			tga.AUTH_CL 
		from
			t_user u
			left outer join t_pstn p on u.pstn_code = p.pstn_code
			left outer join t_dept d on u.dept_code = d.dept_code
			left outer join t_hdept h on u.hdept_code = h.hdept_code
			left outer join t_dept ad on u.adof_dept_code = ad.dept_code
			left outer join t_group tgm on u.user_id = tgm.user_id
			left outer join t_group_auth tga on tgm.auth_id = tga.auth_id
			left outer join t_company c ON c.company_code = u.company_code
		where
			u.user_Nm like concat('%',#{userNm},'%') and u.company_code = #{companyCode}
	</select>
	
</mapper>