<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.portal.adm.supplier.mapper.SupplierMapper">

	<sql id="searchSupplier">
		<if test="searchKey != '' and searchKey == 'ALL' and searchValue != ''">
			and ((upper(SUPPLIER_CODE) like concat('%',upper(#{searchValue}),'%')) OR (upper(SUPPLIER_NM) like concat('%',upper(#{searchValue}),'%')))
		</if>
		<if test="searchKey != '' and searchKey == 'supplierCode' and searchValue != ''">
			and (upper(SUPPLIER_CODE) like concat('%',upper(#{searchValue}),'%'))
		</if>
		<if test="searchKey != '' and searchKey == 'supplierNm' and searchValue != ''">
			and (upper(SUPPLIER_NM) like concat('%',upper(#{searchValue}),'%'))
		</if>
	</sql>
	
	<sql id="paging">
		limit #{offSet}, #{pageSize}
	</sql>

	<select id="selectSupplierList" resultType="com.portal.adm.supplier.model.SupplierModel" parameterType="com.portal.adm.supplier.model.SupplierModel">
		SELECT
			ROW_NUMBER() OVER (ORDER BY UPPER(MODI_DT) ASC) AS ROWNUM
			, SUPPLIER_ID
			, UP_COMPANY_CODE
			, SUPPLIER_CODE
			, SUPPLIER_NO
			, SUPPLIER_NM
			, SUPPLIER_DSC
			, ADDRESS
			, TELEPHONE_NO
			, REPRESENTATIVE_NM
			, NOTE
			, USE_YN
			, RGST_ID
			, RGST_DT
			, MODI_ID
			, MODI_DT
		FROM T_SUPPLIER
		WHERE 1 = 1
		AND USE_YN = 'Y' 
		<if test="authId != 'au2000001'">
			<if test="upCompanyCode != null and upCompanyCode != ''">
				AND UP_COMPANY_CODE = #{upCompanyCode}
			</if>
		</if>
		<include refid="searchSupplier"></include>
		ORDER BY ROWNUM ASC
		<include refid="paging"></include>
	</select>
	
	<select id="selectSupplierListCount" resultType="int">
		SELECT
			count(1)
		FROM T_SUPPLIER
		WHERE 1 = 1
		AND USE_YN = 'Y'
		<if test="authId != 'au2000001'">
			<if test="upCompanyCode != null and upCompanyCode != ''">
				AND UP_COMPANY_CODE = #{upCompanyCode}
			</if>
		</if>
		<include refid="searchSupplier"></include>
	</select>
	
	<insert id="insert" parameterType="com.portal.adm.supplier.model.SupplierModel">
		INSERT INTO T_SUPPLIER (
			SUPPLIER_ID
			, UP_COMPANY_CODE
			, SUPPLIER_CODE
			, SUPPLIER_NO
			, SUPPLIER_NM
			, SUPPLIER_DSC
			, ADDRESS
			, TELEPHONE_NO
			, REPRESENTATIVE_NM
			, NOTE
			, USE_YN
			, RGST_ID
			, RGST_DT
			, MODI_ID
			, MODI_DT
		) VALUES (
			#{supplierId}
			, #{upCompanyCode}
			, #{supplierCode}
			, #{supplierNo}
			, #{supplierNm}
			, #{supplierDsc}
			, #{address}
			, #{telephoneNo}
			, #{representativeNm}
			, #{note}
			, #{useYn}
			, #{rgstId}
			, NOW()
			, #{modiId}
			, NOW()
		)
	</insert>
	
	<update id="update" parameterType="com.portal.adm.supplier.model.SupplierModel">
		UPDATE T_SUPPLIER SET
			SUPPLIER_CODE = #{supplierCode}
			, SUPPLIER_NO = #{supplierNo}
			, SUPPLIER_NM = #{supplierNm}
			, SUPPLIER_DSC = #{supplierDsc}
			, ADDRESS = #{address}
			, TELEPHONE_NO = #{telephoneNo}
			, REPRESENTATIVE_NM = #{representativeNm}
			, NOTE = #{note}
			, USE_YN = #{useYn}
			, MODI_ID = #{modiId}
			, MODI_DT = NOW()
		WHERE
			SUPPLIER_ID = #{supplierId} AND UP_COMPANY_CODE = #{upCompanyCode}
	</update>
	
	<select id="select" resultType="com.portal.adm.supplier.model.SupplierModel" parameterType="string">
		SELECT
			SUPPLIER_ID
			, UP_COMPANY_CODE
			, SUPPLIER_CODE
			, SUPPLIER_NO
			, SUPPLIER_NM
			, SUPPLIER_DSC
			, ADDRESS
			, TELEPHONE_NO
			, REPRESENTATIVE_NM
			, NOTE
			, USE_YN
			, RGST_ID
			, RGST_DT
			, MODI_ID
			, MODI_DT
		FROM
			T_SUPPLIER
		WHERE
			SUPPLIER_ID = #{supplierId}
	</select>
	
	<update id="delete" parameterType="com.portal.adm.supplier.model.SupplierModel">
		UPDATE T_SUPPLIER SET
			USE_YN = 'N',
			MODI_ID = #{modiId},
			MODI_DT = NOW()
		WHERE
			SUPPLIER_ID = #{supplierId}
	</update>
	
	<update id="deleteManager" parameterType="com.portal.adm.supplier.model.SupplierModel">
		UPDATE T_SUPPLIER_MANAGER SET
			USE_YN = 'N',
			MODI_ID = #{modiId},
			MODI_DT = NOW()
		WHERE
			MANAGER_ID = #{managerId}
	</update>
	
	<select id="selectSupplierMngRepper" parameterType="com.portal.adm.supplier.model.SupplierModel" resultType="com.portal.adm.supplier.model.SupplierModel">
		SELECT
			MANAGER_ID,
			SUPPLIER_CODE,
			MANAGER_NM,
			MANAGER_PHONE,
			MANAGER_MAIL,
			MANAGER_DEPT,
			MANAGER_PSTN,
			MANAGER_REPRESENT,
			USE_YN,
			RGST_ID,
			RGST_DT,
			MODI_ID,
			MODI_DT
		FROM
			T_SUPPLIER_MANAGER
		WHERE
			USE_YN = 'Y' AND SUPPLIER_CODE = #{supplierCode}
		ORDER BY MANAGER_REPRESENT DESC, RGST_DT DESC
		LIMIT 1
	</select>
	
	<select id="selectSupplierManager" parameterType="string" resultType="com.portal.adm.supplier.model.SupplierModel">
		SELECT
			MANAGER_ID,
			SUPPLIER_CODE,
			MANAGER_NM,
			MANAGER_PHONE,
			MANAGER_MAIL,
			MANAGER_DEPT,
			MANAGER_PSTN,
			MANAGER_REPRESENT,
			USE_YN,
			RGST_ID,
			RGST_DT,
			MODI_ID,
			MODI_DT
		FROM
			T_SUPPLIER_MANAGER
		WHERE
			USE_YN = 'Y' AND MANAGER_ID = #{managerId}
	</select>
	
	<select id="selectSupplierManagerSearch" parameterType="com.portal.adm.supplier.model.SupplierModel" resultType="com.portal.adm.supplier.model.SupplierModel">
		SELECT
			MANAGER_ID,
			SUPPLIER_CODE,
			MANAGER_NM,
			MANAGER_PHONE,
			MANAGER_MAIL,
			MANAGER_DEPT,
			MANAGER_PSTN,
			MANAGER_REPRESENT,
			USE_YN,
			RGST_ID,
			RGST_DT,
			MODI_ID,
			MODI_DT
		FROM
			T_SUPPLIER_MANAGER
		WHERE
			MANAGER_NM = #{managerNm} AND MANAGER_MAIL = #{managerMail} AND SUPPLIER_CODE = #{supplierCode}
	</select>
	
	<select id="selectSupplierManagers" parameterType="string" resultType="com.portal.adm.supplier.model.SupplierModel">
		SELECT
			MANAGER_ID,
			SUPPLIER_CODE,
			MANAGER_NM,
			MANAGER_PHONE,
			MANAGER_MAIL,
			MANAGER_DEPT,
			MANAGER_PSTN,
			MANAGER_REPRESENT,
			USE_YN,
			RGST_ID,
			RGST_DT,
			MODI_ID,
			MODI_DT
		FROM
			T_SUPPLIER_MANAGER
		WHERE
			USE_YN = 'Y' AND SUPPLIER_CODE = #{supplierCode}
	</select>
	
	<insert id="insertManager" parameterType="com.portal.adm.supplier.model.SupplierModel">
		INSERT INTO T_SUPPLIER_MANAGER (
			MANAGER_ID
			, SUPPLIER_CODE
			, MANAGER_NM
			, MANAGER_PHONE
			, MANAGER_MAIL
			, MANAGER_DEPT
			, MANAGER_PSTN
			, MANAGER_REPRESENT
			, USE_YN
			, RGST_ID
			, RGST_DT
			, MODI_ID
			, MODI_DT
		) VALUES (
			#{managerId}
			, #{supplierCode}
			, #{managerNm}
			, #{managerPhone}
			, #{managerMail}
			, #{managerDept}
			, #{managerPstn}
			, #{managerRepresent}
			, #{useYn}
			, #{rgstId}
			, NOW()
			, #{modiId}
			, NOW()
		)
	</insert>
	
	<update id="updateManager" parameterType="com.portal.adm.supplier.model.SupplierModel">
		UPDATE T_SUPPLIER_MANAGER SET
			SUPPLIER_CODE = #{supplierCode}
			, MANAGER_NM = #{managerNm}
			, MANAGER_PHONE = #{managerPhone}
			, MANAGER_MAIL = #{managerMail}
			, MANAGER_DEPT = #{managerDept}
			, MANAGER_PSTN = #{managerPstn}
			, MANAGER_REPRESENT = #{managerRepresent}
			, USE_YN = #{useYn}
			, MODI_ID = #{modiId}
			, MODI_DT = NOW()
		WHERE
			MANAGER_ID = #{managerId}
	</update>
	
	
</mapper>