<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="common/css/style.css" rel="stylesheet">
		<link href="common/js/plugins/datepicker-ui.css" rel="stylesheet">
		<script type="text/javascript" src="common/js/plugins/jquery-3.5.1.js"></script>
		<script type="text/javascript" src="common/js/plugins/jquery-ui.min.js"></script>
		<script type="text/javascript" src="common/js/plugins/bootstrap.min.js"></script>
		<script type="text/javascript" src="common/js/plugins/iscroll.js"></script><!-- lnb메뉴스크롤-->
		<script type="text/javascript" src="common/js/ui/global_script.js"></script><!-- lnb-->
		<script type="text/javascript" src="common/js/plugins/datepicker-ko.js"></script>
		<script type="text/javascript">
		$(document).ready(function(){
		  $(".dropdown-notification").on("click", function(){
					$('.dropdown-no-content').toggle();
		  });
		});
		</script>
		<title>'PPLUSEco'(PKG Production&Development)</title>
	</head>
	<body class="sub">
		<a href="#" class="skip-nav">본문 바로가기</a>
		<div class="wrapper">
			<div id="body">
				<!-- S_왼쪽메뉴-->
				<section id="lnb">
					<a href="#" class="menu" title="메뉴 열기/닫기"><img src="/images/arr_menu_left.png" alt="메뉴 열기/닫기"/></a>
					<div class="btn-lnb_user">
						<span class="lnb-user">
							<span class="img"><img src="/images/logo_p.png" alt="회사로고"></span>
							<span class="desc">
							<span class="depart">PPlueEco</span><p class="name">PKG Production&Development</p>
							</span>
						</span>
					</div>
					<div class="btn-gnb-user">
						<span class="user-left">
							<a href="login/ChangePswdResetLogin.html" title="정보수정"><img src="/images/icon_user02.png" alt="정보수정"></a>
							<span class="desc"> 로그인 정보</span>
						</span>
					</div>
					<nav style="touch-action: none;">
						<ul style="transform: translate(0px, 0px) translateZ(0px);">
							<li data-menu="UM">
								<a href="#" title="계정관리"><span class="txtlmg user"></span>계정관리<span class="sub"></span></a>
								<ul>
									<li data-menu="UserMgt" class="on"><a href="user/user/UserMgt.html" title="계정관리"><span class="hexagon"></span>계정관리</a></li>
								</ul>
							</li>
							<li data-menu="SM"><a href="#" title="시스템관리"><span class="txtlmg system"></span>시스템관리<span class="sub"></span></a>
								<ul>
									<li data-menu="GroupMgt"><a href="user/group/GroupMgt.html" title="그룹관리"><span class="hexagon"></span>그룹관리</a></li>
									<li data-menu="CGroupMgt"><a href="user/group/CGroupMgt.html" title="회사별관리"><span class="hexagon"></span>회사별관리</a></li>
									<li data-menu="CompanyCode"><a href="code/CompanyCode.html" title="업체별 코드관리"><span class="hexagon"></span>업체별코드관리</a></li>
									<li data-menu="CommCode"><a href="code/CommCode.html" title="공통코드관리"><span class="hexagon"></span>공통코드관리</a></li>
									<li data-menu="HolidayMgt"><a href="holiday/HolidayMgt.html" title="휴일관리"><span class="hexagon"></span>휴일관리</a></li>
								</ul>
							</li>
							<li data-menu="MM"><a href="#" title="메뉴관리"><span class="txtlmg menu"></span>메뉴관리<span class="sub"></span></a>
								<ul>
                  <li data-menu="MenuByAuthCreate"><a href="menu/auth/MenuByAuthCreate.html" title="권한별메뉴생성"><span class="hexagon"></span>권한별메뉴생성</a></li>
									<li data-menu="MenuMgt"><a href="menu/menu/MenuMgt.html" title="메뉴관리"><span class="hexagon"></span>메뉴관리</a></li>
									<li data-menu="ReportMgt"><a href="report/ReportMgt.html" title="레포트관리"><span class="hexagon"></span>레포트관리</a></li>
								</ul>
							</li>
							<li data-menu="BM"><a href="#" title="게시판관리"><span class="txtlmg board"></span>게시판관리<span class="sub"></span></a>
								<ul>
									<li data-menu="BoardMenu"><a href="BoardMenu.html" title="게시판관리"><span class="hexagon"></span>게시판관리</a></li>
								</ul>
							</li>
							<li data-menu="BachM"><a href="#"  title="배치작업관리"><span class="txtlmg bach"></span>배치작업관리<span class="sub"></span></a>
								<ul>
									<li data-menu="BachManage"><a href="BachManage.html" title="배치작업관리"><span class="hexagon"></span>배치작업관리</a></li>
								</ul>
							</li>
							<li data-menu="LM"><a href="#" title="로그관리"><span class="txtlmg loglist"></span>로그관리<span class="sub"></span></a>
								<ul>
									<li data-menu="UserManageLogList"><a href="UserManageLogList.html" title="계정권한로고"><span class="hexagon"></span>계정권한로고</a></li>
									<li data-menu="GroupManageLogList"><a href="GroupManageLogList.html" title="그룹로그"><span class="hexagon"></span>그룹로그</a></li>
									<li data-menu="ReportManageLogList"><a href="ReportManageLogList.html" title="통계리포트로그"><span class="hexagon"></span>통계리포트로그</a></li>
								</ul>
							</li>
							<li data-menu="NT" class="open"><a href="#" title="알림기능" style="position:relative;"><span class="txtlmg alarm"></span>알림기능<span class="lnb-mark">2</span><span class="sub"></span></a>
								<ul>
									<li data-menu="Notifiations"><a href="Notifiations.html" title="알림관리기능"><span class="hexagon"></span>알림관리기능</a></li>
								</ul>
							</li>
							<li data-menu="PD" class="open"><a href="#" title="상품관리"><span class="txtlmg myself"></span>상품관리<span class="sub"></span></a>
								<ul style="height: 176px;">
									<li data-menu="RequestPro"><a href="RequestPro.html" title="신청제품"><span class="hexagon"></span>신청제품</a></li>
									<li data-menu="Prod"><a href="product/Prod.html" title="상품등록"><span class="hexagon"></span>상품등록</a></li>
									<li data-menu="MySelf"><a href="product/MySelf.html" title="자가진단"><span class="hexagon"></span>자가진단기능</a></li>
									<li data-menu="Supplier" class="on"><a href="Supplier.html" title="공급업체"><span class="hexagon"></span>공급업체관리</a></li>
								</ul>
							</li>
            </ul>
			      <div class="iScrollVerticalScrollbar iScrollLoneScrollbar" style="position: absolute; z-index: 9999; width: 7px; bottom: 2px; top: 2px; right: 1px; overflow: hidden; transform: translateZ(0px); transition-duration: 0ms; opacity: 0;">
							<div class="iScrollIndicator" style="box-sizing: border-box; position: absolute; background: rgba(0, 0, 0, 0.5); border: 1px solid rgba(255, 255, 255, 0.9); border-radius: 3px; width: 100%; transition-duration: 0ms; display: none; height: 811px; transform: translate(0px, 0px) translateZ(0px);"></div>
						</div>
					</nav>
				</section>
				<!-- E_왼쪽메뉴-->
				<!-- S_본문-->
				<section class="container">
					<header class="header">
						<div class="top-location">
							<ul class="location">
								<li><a href="#">홈</a></li>
								<li><em>공급업체관리</em></li>
							</ul>
						</div>
						<ul class="top-nav">
							<li><span class="top-nav-bi top-nav-bilink"><a href="BIChat.html" title="BI분석플랫품">BI분석플랫품</a></span></li>
		          <li class="dropdown-notification"><a href="#" title="알림" style="position:relative;"><img src="/images/icon_bell.png" alt="알림"><span class="nav-mark">2</span></a>
								<div class="dropdown-no-content">
									<span class="arrow"></span>
									<div class="notification">
										<div class="dropdown">
											<div class="dropdown-body">
												<a href="#">
												 <p class="text-point">알림1</p> 내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용
												</a>
											</div>
											<div class="meta">2h ago</div>
										</div>
										<div class="dropdown">
											<div class="dropdown-body">
												<a href="#">
												 <p class="text-point">알림2</p> 내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용
												</a>
											</div>
											<div class="meta">2h ago</div>
										</div>
									</div>
									<div class="dropdown-footer">
									<a href="Notifiations.html">전체 알림보기</a>
								</div>
								</div>
							</li>
							<li><a href="login/ChangePswdResetLogin.html" title="비밀번호수정"><img src="/images/icon_user.png" alt="비밀번호수정"></a></li>
							<li><a href="login/Login.html" title="로그아웃"><img src="/images/icon_off.png" alt="로그아웃"></a></li>
						</ul>

					</header>
					<div class="content">
						<!-- S_검색-->
            <form>
							<div class="justify-content-between">
								<div class="form-group">
									<div class="form-inline">
											<select class="select-box w150">
												<option value="">전체</option>
												<option value="0">공급업체</option>
												<option value="1">사업자번호</option>
												<option value="2">공급유형</option>
												<option value="3">담당자</option>
											</select>
									</div>
									<div class="form-inline">
										<div class="search-box">
											<input type="text" class="text-input">
											<span class="search-box-append">
												<button type="button" class="btn-search"><img src="/images/icon_search.png" title="검색"></button>
											</span>
										</div>
									</div>
								</div>
							</div>
						</form>
						<!-- E_검색-->
						<!-- S_그리드-->
						<div class="content-table">
							<div class="buttons-action" style="display:none">
								<div>
                   <a href="#Alldelete" role="button" data-toggle="modal">
										<button type="button" class="btn-alldelete">
											전체삭제<img src="/images/icon_delete.png" title="삭제">
										</button>
									</a>
									<button type="button" class="btn-allcancel">
										삭제취소<img src="/images/icon_cancel.png" title="취소">
									</button>
								</div>
								<div>
									<span class="text-action">14 items selected</span>
								</div>
							</div>
							<div class="scroll-auto">
								<table class="table table-actions">
									<colgroup>
										<col style="width: 30px;">
										<col style="width: 100px;">
										<col style="width: 180px;">
										<col style="width: 100px;">
										<col style="width: 80px;">
										<col style="width: 90px;">
										<col style="width: 100px;">
										<col style="width: 90px;">
									</colgroup>
									<thead>
										<tr class="th-bg">
											<th><input type="checkbox" name="all" id="checkAll"></th>
											<th scope="col">공급업체ID</th>
											<th scope="col">공급업체명</th>
											<th scope="col">사업자번호</th>
											<th scope="col">대표자</th>
											<th scope="col">공급유형</th>
											<th scope="col">담당자</th>
											<th scope="col">관리</th>
										</tr>
									</thead>

									<tbody>
										<tr>
											<th><input type="checkbox" name="chk"></th>
											<td>SUP_001</td>
											<td class="text-point">희성산업</td>
											<td>02-000-000</td>
											<td>홍길동</td>
											<td class="ellipsis">원자재</td>
											<td><a href="#charge" role="button" data-toggle="modal"><img src="/images/icon_user2.png">홍나리</a></td>
											<td>
												<div class="btn-group">
                          <a href="#detail" role="button" data-toggle="modal"><img src="/images/icon_detail.png" alt="상세보기" class="btn-table-icon"></a>
													<a href="#edit" role="button" data-toggle="modal"><img src="/images/icon_edit.png" alt="수정하기" class="btn-table-icon02"></a>
						              <a href="#delete" role="button" data-toggle="modal"><img src="/images/icon_delete2.png" alt="삭제하기" class="btn-table-icon02"></a>
					              </div>
											</td>
										</tr>
										<tr>
											<th><input type="checkbox" name="chk"></th>
											<td>SUP_002</td>
											<td class="text-point">포장</td>
											<td>02-000-000</td>
											<td>강감찬</td>
											<td class="ellipsis">포장</td>
											<td><a href="#charge" role="button" data-toggle="modal"><img src="/images/icon_user2.png">홍나리</a></td>
											<td>
												<div class="btn-group">
                          <a href="#detail" role="button" data-toggle="modal"><img src="/images/icon_detail.png" alt="상세보기" class="btn-table-icon"></a>
													<a href="#edit" role="button" data-toggle="modal"><img src="/images/icon_edit.png" alt="수정하기" class="btn-table-icon02"></a>
						              <a href="#delete" role="button" data-toggle="modal"><img src="/images/icon_delete2.png" alt="삭제하기" class="btn-table-icon02"></a>
					              </div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<!-- E_그리드-->
						<div class="btn-group pt15 tr">
							<button type="button" class="button btn-success" data-toggle="modal"><a href="#register" data-toggle="modal">공급업체등록</a></button>
						</div>
						<!-- S_페이징-->
						<div class="board-paging">
							<ul>
                <li><a href="#" class="start">◀</a></li>
								<li class="on"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#">6</a></li>
								<li><a href="#">7</a></li>
								<li><a href="#">8</a></li>
								<li><a href="#">9</a></li>
								<li><a href="#">10</a></li>
								<li><a href="#">...20</a></li>
								<li><a href="#" class="last">▶</a></li>
							</ul>
						</div>
						<!-- E_페이징-->
					</div>
				</section>
			<!-- E_본문-->
			</div>
		</div>
		<!-- 레이어 팝업 - 등록  -->
		<div id="register" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-content" style="width:900px">
		    <div class="modal-header">
	      <h4 class="modal-title">공급업체등록</h4>
					<button type="button" class="close" data-dismiss="modal"><img src="/images/icon_close.png"></button>
	      </div>
				<div class="modal-body">
					<div class="tab">
					   <ul class="tabnav">
					     <li><a href="#tab01">기업정보</a></li>
					     <li><a href="#tab02">담당자</a></li>
					   </ul>
					   <div class="tabcontent">
					     <div id="tab01">
					     <div class="row">
					       <div class="col-50">
					         <div class="form-group">
					          <label class="col-25 form-label">업체명</label>
					          <div class="col-75">
					            <input type="text" class="text-input">
					          </div>
					        </div>
					       </div>
					       <div class="col-50">
					         <div class="form-group">
					          <label class="col-25 form-label">대표자명</label>
					          <div class="col-75">
					            <input type="text" class="text-input">
					          </div>
					        </div>
					       </div>
					       <div class="col-50">
					         <div class="form-group">
					          <label class="col-25 form-label">사업자번호</label>
					          <div class="col-75">
					            <input type="text" class="text-input">
					          </div>
					        </div>
					       </div>
					       <div class="col-50">
					         <div class="form-group">
					          <label class="col-25 form-label">공급기업Type</label>
					          <div class="col-75">
					            <select class="select-box">
					              <option value="1">원자재/포전재</option>
					              <option value="2">원자재/포전재</option>
					            </select>
					          </div>
					        </div>
					       </div>
					     </div>
					     <div class="row">
					      <div class="col-100">
					        <div class="form-group">
					         <label class="col-25 form-label">주소</label>
					         <div class="col-75">
					           <input type="text" class="text-input">
					         </div>
					       </div>
					        <div class="form-group">
					         <label class="col-25 form-label">웹사이트</label>
					         <div class="col-75">
					           <input type="text" class="text-input">
					         </div>
					       </div>
					       <div class="form-group">
					         <label class="col-25 form-label-textarea">설명</label>
					         <div class="col-75">
					           <div class="form-input">
					             <textarea class="textarea"></textarea>
					           </div>
					         </div>
					       </div>
					       </div>
					     </div>
					     </div>
					     <div id="tab02">
								 <table class="table">
									 <colgroup>
										 <col style="width: 100px;">
										 <col style="width: 100px;">
										 <col style="width: 90px;">
									 </colgroup>
									 <thead>
										 <tr class="th-bg">
											 <th scope="col">성명</th>
											 <th scope="col">직위</th>
											 <th scope="col">관리</th>
										 </tr>
									 </thead>
									 <tbody>
										 <tr>
											 <td class="text-point">홍길동</td>
											 <td>과장</td>
											 <td>
												 <div class="btn-group">
													 <a href="#edit02" role="button" data-toggle="modal"><img src="/images/icon_edit.png" alt="수정하기" class="btn-table-icon02"></a>
													 <a href="#delete" role="button" data-toggle="modal"><img src="/images/icon_delete2.png" alt="삭제하기" class="btn-table-icon02"></a>
												 </div>
											 </td>
										 </tr>
										 <tr>
											 <td class="text-point">고길동</td>
											 <td>차장</td>
											 <td>
												 <div class="btn-group">
													 <a href="#edit02" role="button" data-toggle="modal"><img src="/images/icon_edit.png" alt="수정하기" class="btn-table-icon02"></a>
													 <a href="#delete" role="button" data-toggle="modal"><img src="/images/icon_delete2.png" alt="삭제하기" class="btn-table-icon02"></a>
												 </div>
											 </td>
										 </tr>
									 </tbody>
								 </table>

						     <div class="row pt30">
						       <div class="col-50">
						         <div class="form-group">
						          <label class="col-25 form-label">성명</label>
						          <div class="col-75">
						            <input type="text" class="text-input">
						          </div>
						        </div>
						       </div>
						       <div class="col-50">
						         <div class="form-group">
						          <label class="col-25 form-label">휴대폰번호</label>
						          <div class="col-75">
						            <input type="text" class="text-input">
						          </div>
						        </div>
						       </div>
						       <div class="col-50">
						         <div class="form-group">
						          <label class="col-25 form-label">부서</label>
						          <div class="col-75">
						            <input type="text" class="text-input">
						          </div>
						        </div>
						       </div>
						       <div class="col-50">
						         <div class="form-group">
						          <label class="col-25 form-label">직위</label>
						          <div class="col-75">
						            <input type="text" class="text-input">
						          </div>
						        </div>
						       </div>
						       <div class="col-100">
						         <div class="form-group">
						          <label class="col-25 form-label">이메일</label>
						          <div class="col-75">
						            <input type="text" class="text-input">
						          </div>
						        </div>
						       </div>
						     </div>
					     </div>
					   </div>
					 </div>
				</div>
				<!-- 버튼 -->
				<div class="modal-footer btn-group">
					<button type="button" class="button btn-success" data-dismiss="modal">저장</button>
					<button type="button" class="button btn-cancel" data-dismiss="modal">취소</button>
				</div>
			</div>
		</div>

		<!-- 레이어 팝업 - 상세 -->
		<div id="detail" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-content" style="width:900px">
					<div class="modal-header">
						<h4 class="modal-title">공급업체상세</h4>
						<button type="button" class="close" data-dismiss="modal"><img src="/images/icon_close.png"></button>
					</div>
					<div class="modal-body">
						<h4 class="tl mb10"><span class="title-point">[기업정보]</span></h4>
						<div class="row">
							<div class="col-50">
								<div class="form-group">
								 <label class="col-25 form-label">등록날짜</label>
								 <div class="col-75">
									 <input type="text" class="text-input" value="2001-12-30" disabled>
								 </div>
							 </div>
							</div>
							<div class="col-50">
								<div class="form-group">
								 <label class="col-25 form-label">공급업체 ID</label>
								 <div class="col-75">
									 <input type="text" class="text-input" value="SUP_001" disabled>
								 </div>
							 </div>
							</div>
							<div class="col-50">
								<div class="form-group">
	 							 <label class="col-25 form-label">업체명</label>
	 							 <div class="col-75">
									 <input type="text" class="text-input" value="희성산업" disabled>
	 							 </div>
	 						 </div>
							</div>
							<div class="col-50">
								<div class="form-group">
	 							 <label class="col-25 form-label">대표자명</label>
	 							 <div class="col-75">
									 <input type="text" class="text-input">
	 							 </div>
	 						 </div>
							</div>
							<div class="col-50">
								<div class="form-group">
	 							 <label class="col-25 form-label">사업자번호</label>
	 							 <div class="col-75">
									 <input type="text" class="text-input">
	 							 </div>
	 						 </div>
							</div>
							<div class="col-50">
								<div class="form-group">
	 							 <label class="col-25 form-label">공급기업Type</label>
	 							 <div class="col-75">
									 <select class="select-box">
										 <option value="1">원자재/포전재</option>
										 <option value="2">원자재/포전재</option>
									 </select>
	 							 </div>
	 						 </div>
							</div>
						</div>
						<div class="row">
	 	         <div class="col-100">
							 <div class="form-group">
								<label class="col-25 form-label">주소</label>
								<div class="col-75">
									<input type="text" class="text-input">
								</div>
							</div>
							 <div class="form-group">
								<label class="col-25 form-label">웹사이트</label>
								<div class="col-75">
									<input type="text" class="text-input">
								</div>
							</div>
							<div class="form-group">
	 							<label class="col-25 form-label-textarea">설명</label>
	 							<div class="col-75">
	 								<div class="form-input">
	 									<textarea class="textarea"></textarea>
	 								</div>
	 							</div>
	 						</div>
	 						</div>
	 					</div>

		        <h4 class="tl mb10 pt15"><span class="title-point">[담당자]</span></h4>
						<div class="row">
							<div class="col-50">
								<div class="form-group">
	 							 <label class="col-25 form-label">성명</label>
	 							 <div class="col-75">
									 <input type="text" class="text-input">
	 							 </div>
	 						 </div>
							</div>
							<div class="col-50">
								<div class="form-group">
	 							 <label class="col-25 form-label">휴대폰번호</label>
	 							 <div class="col-75">
									 <input type="text" class="text-input">
	 							 </div>
	 						 </div>
							</div>
							<div class="col-50">
								<div class="form-group">
	 							 <label class="col-25 form-label">부서</label>
	 							 <div class="col-75">
									 <input type="text" class="text-input">
	 							 </div>
	 						 </div>
							</div>
							<div class="col-50">
								<div class="form-group">
	 							 <label class="col-25 form-label">직위</label>
	 							 <div class="col-75">
									 <input type="text" class="text-input">
	 							 </div>
	 						 </div>
							</div>
							<div class="col-100">
								<div class="form-group">
	 							 <label class="col-25 form-label">이메일</label>
	 							 <div class="col-75">
									 <input type="text" class="text-input">
	 							 </div>
	 						 </div>
							</div>
						</div>
					</div>
				<!-- 버튼 -->
				<div class="modal-footer btn-group">
					<button type="button" class="button btn-success" data-dismiss="modal">확인</button>
				</div>
			</div>
		</div>

		<!-- 레이어 팝업 - 수정 -->
		<div id="edit" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-content" style="width:900px">
					<div class="modal-header">
						<h4 class="modal-title">공급업체수정</h4>
						<button type="button" class="close" data-dismiss="modal"><img src="/images/icon_close.png"></button>
					</div>
					<div class="modal-body">
						<h4 class="tl mb10"><span class="title-point">[기업정보]</span></h4>
						<div class="row">
							<div class="col-50">
								<div class="form-group">
	 							 <label class="col-25 form-label">업체명</label>
	 							 <div class="col-75">
									 <input type="text" class="text-input">
	 							 </div>
	 						 </div>
							</div>
							<div class="col-50">
								<div class="form-group">
	 							 <label class="col-25 form-label">대표자명</label>
	 							 <div class="col-75">
									 <input type="text" class="text-input">
	 							 </div>
	 						 </div>
							</div>
							<div class="col-50">
								<div class="form-group">
	 							 <label class="col-25 form-label">사업자번호</label>
	 							 <div class="col-75">
									 <input type="text" class="text-input">
	 							 </div>
	 						 </div>
							</div>
							<div class="col-50">
								<div class="form-group">
	 							 <label class="col-25 form-label">공급기업Type</label>
	 							 <div class="col-75">
									 <select class="select-box">
										 <option value="1">원자재/포전재</option>
										 <option value="2">원자재/포전재</option>
									 </select>
	 							 </div>
	 						 </div>
							</div>
						</div>
						<div class="row">
	 	         <div class="col-100">
							 <div class="form-group">
								<label class="col-25 form-label">주소</label>
								<div class="col-75">
									<input type="text" class="text-input">
								</div>
							</div>
							 <div class="form-group">
								<label class="col-25 form-label">웹사이트</label>
								<div class="col-75">
									<input type="text" class="text-input">
								</div>
							</div>
							<div class="form-group">
	 							<label class="col-25 form-label-textarea">설명</label>
	 							<div class="col-75">
	 								<div class="form-input">
	 									<textarea class="textarea"></textarea>
	 								</div>
	 							</div>
	 						</div>
	 						</div>
	 					</div>

		        <h4 class="tl mb10 pt15"><span class="title-point">[담당자]</span></h4>
						<div class="row">
							<div class="col-50">
								<div class="form-group">
	 							 <label class="col-25 form-label">성명</label>
	 							 <div class="col-75">
									 <input type="text" class="text-input">
	 							 </div>
	 						 </div>
							</div>
							<div class="col-50">
								<div class="form-group">
	 							 <label class="col-25 form-label">휴대폰번호</label>
	 							 <div class="col-75">
									 <input type="text" class="text-input">
	 							 </div>
	 						 </div>
							</div>
							<div class="col-50">
								<div class="form-group">
	 							 <label class="col-25 form-label">부서</label>
	 							 <div class="col-75">
									 <input type="text" class="text-input">
	 							 </div>
	 						 </div>
							</div>
							<div class="col-50">
								<div class="form-group">
	 							 <label class="col-25 form-label">직위</label>
	 							 <div class="col-75">
									 <input type="text" class="text-input">
	 							 </div>
	 						 </div>
							</div>
							<div class="col-100">
								<div class="form-group">
	 							 <label class="col-25 form-label">이메일</label>
	 							 <div class="col-75">
									 <input type="text" class="text-input">
	 							 </div>
	 						 </div>
							</div>
						</div>
					</div>
				<!-- 버튼 -->
				<div class="modal-footer btn-group">
					<button type="button" class="button btn-success" data-dismiss="modal">확인</button>
				</div>
			</div>
		</div>

		<!-- 레이어 팝업 - 수정 -->
		<div id="edit02" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-content" style="width:900px">
					<div class="modal-header">
						<h4 class="modal-title">담당자수정</h4>
						<button type="button" class="close" data-dismiss="modal"><img src="/images/icon_close.png"></button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-50">
								<div class="form-group">
	 							 <label class="col-25 form-label">성명</label>
	 							 <div class="col-75">
									 <input type="text" class="text-input">
	 							 </div>
	 						 </div>
							</div>
							<div class="col-50">
								<div class="form-group">
	 							 <label class="col-25 form-label">휴대폰번호</label>
	 							 <div class="col-75">
									 <input type="text" class="text-input">
	 							 </div>
	 						 </div>
							</div>
							<div class="col-50">
								<div class="form-group">
	 							 <label class="col-25 form-label">부서</label>
	 							 <div class="col-75">
									 <input type="text" class="text-input">
	 							 </div>
	 						 </div>
							</div>
							<div class="col-50">
								<div class="form-group">
	 							 <label class="col-25 form-label">직위</label>
	 							 <div class="col-75">
									 <input type="text" class="text-input">
	 							 </div>
	 						 </div>
							</div>
							<div class="col-100">
								<div class="form-group">
	 							 <label class="col-25 form-label">이메일</label>
	 							 <div class="col-75">
									 <input type="text" class="text-input">
	 							 </div>
	 						 </div>
							</div>
						</div>
					</div>
				<!-- 버튼 -->
				<div class="modal-footer btn-group">
					<button type="button" class="button btn-success" data-dismiss="modal">확인</button>
				</div>
			</div>
		</div>
		<!-- 레이어 팝업 - delete -->
		<div id="delete" class="modal" data-backdrop-limit="1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-modal-parent="#myModal">
			<!-- Modal content-->
			<div class="modal-content" style="width:400px">
				<div class="modal-header">
					<h4 class="modal-title">삭제</h4>
						<button type="button" class="close" data-dismiss="modal"><img src="/images/icon_close.png"></button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-100">
							<div class="form-group">
								<div class="tc">(<em class="text-bold">2021-10-18</em>)삭제합니다.</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer btn-group">
					<button type="button" class="button btn-warning" data-dismiss="modal">삭제</button>
					<button type="button" class="button btn-cancel" data-dismiss="modal">취소</button>
				</div>
			</div>
		</div>
		<!-- 레이어 팝업 delete All -->
		<div id="Alldelete" class="modal" data-backdrop-limit="1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-modal-parent="#myModal">
			<!-- Modal content-->
			<div class="modal-content" style="width:400px">
				<div class="modal-header">
					<h4 class="modal-title">전체삭제</h4>
						<button type="button" class="close" data-dismiss="modal"><img src="/images/icon_close.png"></button>
				</div>
				<div class="modal-body">
					<div class="row">
	          <div class="col-100">
							<div class="form-group">
								<div class="tc"><em class="text-bold">14 items selected</em><br />삭제하시겠습니까?</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer>
					<button type="button" class="button btn-warning" data-dismiss="modal">삭제</button>
					<button type="button" class="button btn-cancel" data-dismiss="modal">취소</button>
				</div>
			</div>
		</div>

		<!-- 레이어 팝업 - 담당자  -->
		<div id="charge" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-content" style="width:700px">
				<div class="modal-header">
				<h4 class="modal-title">담당자 정보</h4>
					<button type="button" class="close" data-dismiss="modal"><img src="/images/icon_close.png"></button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-50">
							<div class="form-group">
							 <label class="col-25 form-label">성명</label>
							 <div class="col-75">
								 <input type="text" class="text-input" value="홍나리" disabled>
							 </div>
						 </div>
						</div>
						<div class="col-50">
							<div class="form-group">
							 <label class="col-25 form-label">휴대폰번호</label>
							 <div class="col-75">
								 <input type="text" class="text-input" value="010-123-4567">
							 </div>
						 </div>
						</div>
						<div class="col-50">
							<div class="form-group">
							 <label class="col-25 form-label">부서</label>
							 <div class="col-75">
								 <input type="text" class="text-input" value="홍보">
							 </div>
						 </div>
						</div>
						<div class="col-50">
							<div class="form-group">
							 <label class="col-25 form-label">직위</label>
							 <div class="col-75">
								 <input type="text" class="text-input" value="과장">
							 </div>
						 </div>
						</div>
						<div class="col-100">
							<div class="form-group">
							 <label class="col-25 form-label">이메일</label>
							 <div class="col-75">
								 <input type="text" class="text-input" value="PPlueEco@PlueEc.co.kr">
							 </div>
						 </div>
						</div>
					</div>
				</div>
				<!-- 버튼 -->
				<div class="modal-footer btn-group">
					<button type="button" class="button btn-success" data-dismiss="modal">수정</button>
					<button type="button" class="button btn-cancel" data-dismiss="modal">취소</button>
				</div>
			</div>
		</div>
	</body>
</html>
