<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../common/css/style.css">
<link rel="stylesheet" href="../common/css/reset.css">

<script type="text/javascript" src="../common/js/plugins/jquery-3.5.1.js"></script>
<script type="text/javascript" src="../common/js/plugins/jquery-ui.min.js"></script>
<script type="text/javascript" src="../common/js/plugins/datepicker/datepicker.min.js"></script>
<script type="text/javascript" src="../common/js/plugins/bootstrap.min.js"></script>
</head>
<body>
  <div id="wrap">
    <div class="login">
      <h2 class="title">PPlus Echo</h2>
      <div class="login_form">
        <form>
          <div class="h_45px id_box">
            <div class="h_45px">
             <input type="text" placeholder="아이디을 입력하세요.">
            </div>
          </div>
          <div class="pw_box">
            <div>
             <input type="password" placeholder="비밀번호을 입력하세요.">
            </div>
          </div>
          <div class="stn_btm">
            <div class="btn_cont center">
              <button type="button" class="btn_register"><a href="../user/group/GroupMgt.html" data-toggle="modal">들어가기</a></button>
            </div>
          </div>
          <div class="stn_btm">
            <div class="btn_cont center">
              <button type="button" class="btn_default"><a href="FindUserId.html">아이디 찾기</a></button>
              <button type="button" class="btn_default ml_6px"><a href="ChangePswd.html">패스워드찾기</a></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
